{% extends 'accounts/base.html' %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="col">
            <div class="row">
                <div class="jumbotron">
                    <div class="jumbotron pos6">
                    <p class="mr-5"> Welcome to Placement Form</p>
                    <br><hr><br>
                    {% if user.is_authenticated %}
                        <button id="pos7"type="button" class="btn btn-primary" onclick="location.href={% url 'placement' %}">Company</button>
                        {% endif %}
                    <button id="pos7"type="button" class="btn btn-primary" onclick="Location.href = {% url 'apply' %}">Student</button>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}